/*  CSS por Etiqueta */
body {
  text-align: center;
  margin: 0;
  /* tipo fuente google */
  font-family: 'Roboto', sans-serif;

}

/* class para modelo de cajas  select universal*/
body * {
  margin: 0;
  border: 0;
  padding: 0;
  text-decoration: none;
}

/*  inicio CSS para estados de enlaces*/
a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: #504c4c;
}

a:visited {
  color: #ffffff;
}

/* CSS PARA NAV */
nav {
  display: flex;
  background-color: #282929;
  color: #ffffff;
  margin: 0px;
  text-align: left;
  padding: 1.25em 4rem;
  position: sticky;
  justify-content: space-between;
  height: 84px;
  top: 0;
  z-index: 1;
  width: 100%;
} 

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  
  position: relative;
  height: 84px;
  margin-right: 100px;
}

nav li {
  text-decoration: none;
}

nav ul li {
  margin: 0 1em;
  text-decoration: none;
  right: 0;
  letter-spacing: 5px;
}

navbar ul li a:hover {
  color: #ee3535;
}
 .nav-link:hover {
  color: #ee3535;
}
.logo {
  object-fit: cover;
}


p {
  margin: 15px;
  padding: 10px;
  line-height: 140%;

  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  width: auto;
}


footer {
  grid-area: footer;
  width: auto;
  background: #282929;
  color: #ffffff;
  position: sticky;
  width: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  /* border: 2px solid blue; */

}

.container {
  padding-top: 30px;
  padding-bottom: 30px;
}


.card {
  margin: 20px 20px;
}

.container-fluid {
    flex-wrap: wrap;
}

.item-list{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

.item{
 margin: 12px;
 border-radius: 8px;
 flex-wrap: wrap;
 border-color: black;
  }

.vehiculospeugeot {
    max-width: 250px;
    height: 250px;
    object-fit: cover;
}

.nav-item{
  padding: 4px 10px;
  text-decoration: none;
  margin: 10px;
}
.active {
  padding: 4px 20px;
}

